html
	head
		title Bionik Labs
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		link(rel="stylesheet", href="/stylesheets/style.css")
		script(type='text/javascript', src='https://www.google.com/jsapi')
		| <script type='text/javascript'>
		| google.load("visualization", "1", {packages:["corechart"]});
		| google.setOnLoadCallback(drawChart);
		| function drawChart() {
		| 	var cloudantdata = [ 
		if config.showAll
			| ['Period', 'ls', 'rs', 'ss', 'su', 'sd'],
			- each x in data
				- each d in x
					| 			['Sum', #{d.ls}, #{d.rs}, #{d.ss}, #{d.su}, #{d.sd}],	
		else
			|	['Period', '#{config.showAction}'],
			- each x in data
				- each d in x
					- var value = d[config.showAction];
					|	['Sum', #{value} ],	
		| 	];  
		| 	var data = google.visualization.arrayToDataTable(cloudantdata); 

		| 	var options = { 
		| 		title: 'Steps Acummulated',
		| 		hAxis: {title: 'Period', titleTextStyle: {color: 'black'}}
		| 	};

		| 	var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
		| 	chart.draw(data, options);
		| }   
		| </script>

	body
		span #{msg}
		h1 #{patient} device information
	- each d in data
		- each x in d
			ul
				li rs : #{x.rs}
				li ls : #{x.ls}
				li ss : #{x.ss}
				li su : #{x.su}
				li sd : #{x.sd}
				li docs processed : #{x.ndocs}
				li timestamp : #{x.timestamp}
				li newesttimestamp: #{x.newesttimestamp}
				li oldesttimestamp: #{x.oldesttimestamp}

		div#chart_div
