extends ../base
block append body
	span #{msg}
	h2 #{patient} information
	- each x in data 
		ul
			li rs : #{x.RS}
			li ls : #{x.LS}
			li ss : #{x.SS}
			li su : #{x.SU}
			li sd : #{x.SD}
			li tn : #{x.TN}
			li time: #{x.time}
			li timestamp : #{x.TS}
